.location-list-container {
  overflow: hidden;
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px 0;
  background-color: #f8f8f8;
}

.location-list-slider {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.location-button {
  margin: 0 8px;
  padding: 8px 12px;
  background-color: rgb(91, 146, 214);
  color: white;
  font-family: Calibri, sans-serif;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  flex-shrink: 0;
}

.location-button:hover {
  background-color: rgb(50, 82, 120);
}
